body{
    font-family: Verdana;
}*{
    margin: 0;
    padding: 0;
}
 

header,footer{
    position: absolute;
    background-color: black;
    width: 100%;
    color: white;
}
header h2{
    position: absolute;
    margin-top: 20px;
}

header{
    height: 80px;   
}

footer{
    height: 80px;
    bottom: 0;
}

footer h2{
    position: absolute;
    left: 46%;
}

.nav{
    position:absolute;
    width: 100%;
    margin-top: 20px;
}

.nav a{
    position: relative;
    left: 45%;
    top: 20px ;
    color: white;
    text-decoration: none;
    margin-right:20px;
}